body {
    color: #000;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    background-color: #ebf0ff;
    min-width: 240px;
}

header {
    display: grid;
    font-weight: 100;
    align-items: end;
    grid-template-columns: 1fr 3fr;
    font-size: 10px;
    height: 100px;
    width: 100vw;
    margin: 0px;
    background-color: #c25555;
    margin-bottom: 4vh; 
}

header a {
    text-decoration: none;
    color: #fff;
}

header .hrefs {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

header .hrefs a {
    font-size: 3vw;
}

header .hrefs a:hover {
    text-shadow: 0px 0px 5px #fff;
}

/* .plane {
    background-image: url(/static/plane.jpg);
    background-repeat: no-repeat;
    background-size: cover;}*/

.plane {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.Top_workspace {
    display: flex;
    justify-content: center;
}

.Bottom-workspace {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.carbon-place button {
    font-size: 1vb;
    border: none;
    display: flex;
    border-radius: 0.5vw;
    align-items: center;
    justify-content: center;
}

.hydrogen-place button {
    font-size: 1vb;
    border: none;
    display: flex;
    border-radius: 0.5vw;
    align-items: center;
    justify-content: center;
}

.surfur-place button {
    font-size: 1vb;
    display: flex;
    border: none;
    border-radius: 0.5vw;
    align-items: center;
    justify-content: center;
}

.surfur-place {
    padding: 3vw;
    padding-bottom: 2vw;
    border: 1px solid #333;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: grid;
    grid-template-columns: repeat(7, 1vw);
    grid-template-rows: repeat(10, 2vw);
    gap: 0.5vw 3vw;
}

.carbon-place {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 3vw;
    padding-bottom: 2vw;
    border: 1px solid #333;
    display: grid;
    grid-template-columns: repeat(8, 1vw);
    grid-template-rows: repeat(10, 2vw);
    gap: 0.5vw 3vw;
}

.hydrogen-place {
    padding: 3vw;
    padding-bottom: 2vw;
    border: 1px solid #333;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: grid;
    grid-template-columns: repeat(8, 1vw);
    grid-template-rows: repeat(10, 2vw);
    gap: 0.5vw 3vw;
}