<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <h1>adsfdsaf</h1>
    <div class="main">
        <div class="plane">
            <div class="surfur_place">
                <button class="sulfur_button">a1</button>
                <button class="sulfur_button">b1</button>
                <button class="sulfur_button">c1</button>
                <button class="sulfur_button">d1</button>
                <button class="sulfur_button">e1</button>
                <button class="sulfur_button">f1</button>
                <button class="sulfur_button">g1</button>
                <button class="sulfur_button">h1</button>
                <button class="sulfur_button">a2</button>
                <button class="sulfur_button">b2</button>
                <button class="sulfur_button">c2</button>
                <button class="sulfur_button">d2</button>
                <button class="sulfur_button">e2</button>
                <button class="sulfur_button">f2</button>
                <button class="sulfur_button">g2</button>
                <button class="sulfur_button">h2</button>
                <button class="sulfur_button">a3</button>
                <button class="sulfur_button">b3</button>
                <button class="sulfur_button">c3</button>
                <button class="sulfur_button">d3</button>
                <button class="sulfur_button">e3</button>
                <button class="sulfur_button">f3</button>
                <button class="sulfur_button">g3</button>
                <button class="sulfur_button">h3</button>
                <button class="sulfur_button">a4</button>
                <button class="sulfur_button">b4</button>
                <button class="sulfur_button">c4</button>
                <button class="sulfur_button">d4</button>
                <button class="sulfur_button">e4</button>
                <button class="sulfur_button">f4</button>
                <button class="sulfur_button">g4</button>
                <button class="sulfur_button">h4</button>
                <button class="sulfur_button">a5</button>
                <button class="sulfur_button">b5</button>
                <button class="sulfur_button">c5</button>
                <button class="sulfur_button">d5</button>
                <button class="sulfur_button">e5</button>
                <button class="sulfur_button">f5</button>
                <button class="sulfur_button">g5</button>
                <button class="sulfur_button">h5</button>
                <button class="sulfur_button">a6</button>
                <button class="sulfur_button">b6</button>
                <button class="sulfur_button">c6</button>
                <button class="sulfur_button">d6</button>
                <button class="sulfur_button">e6</button>
                <button class="sulfur_button">f6</button>
                <button class="sulfur_button">g6</button>
                <button class="sulfur_button">h6</button>
                <button class="sulfur_button">a7</button>
                <button class="sulfur_button">b7</button>
                <button class="sulfur_button">c7</button>
                <button class="sulfur_button">d7</button>
                <button class="sulfur_button">e7</button>
                <button class="sulfur_button">f7</button>
                <button class="sulfur_button">g7</button>
                <button class="sulfur_button">h7</button>
                <button class="sulfur_button">a8</button>
                <button class="sulfur_button">b8</button>
                <button class="sulfur_button">c8</button>
                <button class="sulfur_button">d8</button>
                <button class="sulfur_button">e8</button>
                <button class="sulfur_button">f8</button>
                <button class="sulfur_button">g8</button>
                <button class="sulfur_button">h8</button>
                <button class="sulfur_button">a9</button>
                <button class="sulfur_button">b9</button>
                <button class="sulfur_button">c9</button>
                <button class="sulfur_button">d9</button>
                <button class="sulfur_button">e9</button>
                <button class="sulfur_button">f9</button>
                <button class="sulfur_button">g9</button>
                <button class="sulfur_button">h9</button>
            </div>
        </div>
    </div>
</body>
</html>